{% extends "portfolio/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jack Koontz</title>






</head>
<body>



    <div class="jumbotron bg-transparent">

        <div class="container text-center">
            <div class="row">
                <div class="col"></div>
                <div class="col"><a class="btn" href="https://www.linkedin.com/in/jack-koontz-878659148"><i
                        class="fab fa-linkedin fa-3x fa-clickable"></i></a></div>
                <div class="col"><a class="btn" href="https://github.com/joontz"> <i
                        class="fab fa-github fa-3x fa-clickable"></i></a></div>
                <div class="col"></div>
            </div>
            <hr class="my-4">
            <h1 class="display-4">Jack Koontz</h1>
            <p class="lead">Computer Science student at the University of Missouri-Kansas City. Passionate about data,
                software design, business, and food.</p>
        </div>
    </div>
    </div>

</font>
</body>
</html>